.auction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr 140px;
    grid-column-gap: 25px;
    margin-bottom: 20px;
  }

  &_image {
    object-fit: cover;
    width: 200px;
    height: 150px;
    border-radius: 5px;

    @media screen and (max-width: 768px) {
      width: 130px;
      height: 110px;
    }
  }

  &_imageContainer {
    @media screen and (max-width: 768px) {
      order: 1;
    }
  }
  &_details {
    @media screen and (max-width: 768px) {
      order: 0;
    }
  }
}
