.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 35px;
    grid-row-gap: 20px;

    @media screen and (max-width: 768px) {
        display: block;
        padding: 20px;
    }
  }